{% extends "base.html" %}

{% block content %}
    {% for book in book_list %}

    <a href="/books/{{book_list.index(book)}}">{{book.title}}, {{book.author}} </a>

    {% if book.checked_out %}
    - Checked Out - Return by {{book.return_by}}
    {% endif %}
    
    <form class="form-inline" action="/books/delete/{{book.title}}" method="POST">

        <input type="submit" value="Delete">

    </form>

    <br>

    {% endfor %}

    <form class="form-inline" action="/books" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">

        <label for="author">Author</label>
        <input type="text" name="author" id="author">

        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre">

        <input type="submit" value="Add Book">
    </form>
{% endblock %}